
.login-page {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  /* background 设置渐变， linear-gradient 线性渐变 */
  background: linear-gradient(var(--primary), var(--primary-light));
}

.login-container {
  /* flex 布局中的属性 */
  flex: auto;
  max-width: 480px;
  max-height: 100%;
  /* CSS 属性 overflow 定义当一个元素的内容太大而无法适应
       块级格式化上下文 时候该做什么、
       
       auto:  由浏览器定夺，如果内容被修剪，就会显示滚动条 
  
       */
  overflow: auto;
}

.login-content {
  background-color: var(--background);
  padding: var(--space-sm);
}

.login-separator {
  position: relative;
  top: 0.5em;
  border-top: 1px solid var(--border);
  opacity: 0.6;
  margin: var(--space-md) 0;
}

/* 
大于号表示某个元素的下一代元素。A>B 指选择 A 元素里面的 B 元素，其中 B 元素是 A 元素的第一代。
*/
.login-separator > span {
  position: relative;
  top: -0.5em;
  background-color: var(--background);
  padding: var(--space-sm);
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
  margin: var(--space-md);
}


@media only screen and (min-width: 480px)  {
  .login-content {
    border-radius: var(--radius);
  }
}