.transactions-table {
    width: 100%;
    font-size: 1.2rem;
    padding: var(--space-sm);
    margin: 0;
    border-spacing: 0;
    background-color: var(--background);
  }
  
  .transactions-table thead th {
    border-bottom: 1px solid var(--border);
  }
  
  .transactions-table tr:nth-child(even) {
    background-color: var(--background-accent);
  }
  
  .transactions-table td,
  .transactions-table th {
    padding: var(--space-xs) var(--space-sm);
    text-align: left;
  }
  
  .transactions-table td:first-child,
  .transactions-table th:first-child {
    /* Make first column use the minimum width */
    width: 1%;
    white-space: nowrap;
  }
  
  .transactions-table td:last-child,
  .transactions-table th:last-child {
    text-align: right;
  }